<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.mapper.ExamPlaceCourseMapper">
    <resultMap id="rmSelectPageVos" type="ExamPlaceCourseVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="type" property="type"/>
        <result column="placeId" property="place_id"/>
        <result column="provinceId" property="province_id"/>
        <result column="cityId" property="city_id"/>
    </resultMap>

    <select id="selectPageVos" resultMap="rmSelectPageVos">
        SELECT
            c.id,
            c.name,
            c.price,
            c.type,
            c.intro,
            c.place_id,
            p.province_id,
            p.city_id
        FROM exam_place_course c
             JOIN exam_place p ON p.id = c.place_id
        ${ew.customSqlSegment}
    </select>
</mapper>